/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}





/*Start CSS - Header*/
header{
    height: 50px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2{
    padding: 0px 20px;
}
header input{
    margin: 0px 50px;
}




/*Start CSS - Main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;   
}
.container a{
    text-decoration: none;
    color: black;
}
.card-video{
    border: 1px solid;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.card-video video{
    width: 300px;
}
.card-video p{
    padding:  20px 5px;
}








/*Start CSS - Footer*/
footer{
    background-color: lightblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h3{
    text-align: center;
}

